@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary-font-color: #202020;
  --primary-color: #6ec6e9;
  --hover-color: #5ab5d4;
  --gray-color: #c5c9cc;
  --hover-gray-color: #b1b5b8;
  --secondary-font-color: #8c8f91;
}

body {
  background: var(--background);
  color: var(--primary-font-color);
}
